@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0; padding: 0;
    font-size: 100%;
    background-repeat: no-repeat;
    border: 0;
    font: inherit;
    outline: none;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
p, ul, ol, dl, blockquote, .content img {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    cursor: default;
}
html, body {
    min-height: 100%;
    line-height: 1;
    margin: 0;
}
html {
	font-size: 100%; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-font-smoothing: subpixel-antialiased;
	overflow-y: scroll;
}
.ie body { font-size: 100% }
.wrapper {
	display: block;
	min-width: 300px; max-width: 640px;
	margin: 0 auto; padding: 2em 10px 0;
}
body, input, textarea, button {
	font: normal normal normal 16px/100% "Open Sans" sans-serif;
	color: #444;
	font-weight: 400;
}
@media all and (max-width: 660px) {
	.wrapper { max-width: 300px }
}
p, li, blockquote {
    line-height: 1.6;
	margin: 0 0 .8em;
}
a, a:hover, a:active, a:focus  { 
	outline: 0;
	outline-offset: -2px;
}
a {
	-webkit-transition: color .3s ease-in-out,border .3s ease-in-out;
	-moz-transition: color .3s ease-in-out,border .3s ease-in-out;
	-ms-transition: color .3s ease-in-out,border .3s ease-in-out;
	-o-transition: color .3s ease-in-out,border .3s ease-in-out;
	transition: color .3s ease-in-out,border .3s ease-in-out;
	color: #0881b3;
	text-decoration: none;
	border-bottom: 2px solid transparent;
}
a:hover { border-bottom: 2px solid }
strong, b { font-weight: 700 }
i, em, blockquote { font-style: italic }
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    -moz-font-feature-settings: "liga=1, kern=1";
    -ms-font-feature-settings: "liga" 1, "kern" 1;
    text-rendering: optimizeLegibility;
}
h1, h2, h3 { 
	line-height:1.2em;
	margin:  0 0 .2em;
	font-weight: 700;
}
h1 a, h2 a, h3 a {
	color: inherit;
	border: 0;
}
h1 a:hover, h2 a:hover, h3 a:hover { border:0 }
h1 {
	color: black;
	font-size: 1.8em;	
}
h2, article h1, h3, h4 {
	color: #444;
}
h2, article h1 {
	font-size:1.4em;
}
h3, article h2 {
	font-size: 1.2em;
}
h4{color:#9a9ea8;font-weight:bold;margin-bottom:0.2em}

ol, ul { list-style: none }
blockquote, q { quotes: none }
ul { list-style-type: circle }
ol { list-style-type: upper-roman }
ul ul, ul ol, ol ol, ol ul { margin-bottom: 0 }
form fieldset ul, form fieldset ol, .commentlist, .thumb-grid, nav ol, nav ul, ul.unstyled, ol.unstyled { list-style: none }
hr {
	margin-bottom: 1em;
	border: 0;
    border-bottom: 0 none; border-top: 1px solid #ddd;
}
#wrapper>header, #wrapper>footer, article {
	margin: 0 0 .5em;
}
#wrapper>header h1 {
	font-size: 1.6em;
}
#wrapper>header nav {}
#wrapper>header nav ul li {
    display: inline;
    margin: 0 4px 0 0;
}
#wrapper>header nav ul li a {
    padding: 8px 12px;
    color: white;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    text-decoration: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #bbb;
    border-radius: 4px;
    border: 0;
}
#wrapper>header nav ul li a:active { background: #888 }
#wrapper>header nav ul li a:hover, header nav li a:focus { 
	background: #999;
	border: 0; 
}
#wrapper>header nav ul li.active a {
    color: white;
    background: #444;
}
#wrapper>footer, article>footer, small, form fieldset p.form-help, figure {
	font-size: .8em;
	color: #999;
}
article>footer:before {
	font-family: 'Pictos';
	font-style: normal;
	speak: none;
	content: "\231a";
	font-size: .8em;
	display: inline-block;
}
#wrapper>footer a, article>footer a, small a, form fieldset p.form-help a, figure a {
	color: #444;
}
#wrapper>footer a:hover, article>footer a:hover, small a:hover, form fieldset p.form-help a:hover, figure a:hover {
	color:#2e80d3;
}

nav.breadcrumb {
	color: inherit;
	margin: 0.5em 0;
}
nav.breadcrumb li {
	display: inline;
}
nav.breadcrumb li:after {
	content: '/';
}
nav.breadcrumb li:last-child:after { content: none }
nav.breadcrumb a {
	margin: 0 5px;
	text-decoration: none;
	color: #999;
}
nav.breadcrumb a:first-child {
	margin-left: 0;
}
nav.breadcrumb a:hover,
nav.breadcrumb a:focus {
	color: inherit;
}
nav.breadcrumb strong { margin: 0 0 0 5px }		

nav.page {
	font-size: .8em;
	color: inherit;
	margin: 0 0 1em;
}
nav.page ul {
	text-align: center;
}
nav.page ul li {
	display: inline;
	margin: 0 4px 0 0;
}
nav.page ul li a, nav.page ul li strong {
	padding: 3px 8px;
	font-weight: 700;
	border: 1px solid #bbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
nav.developer {
	background: #0881b3;
	color: #6cd4ff;
	margin: 0 0 2em;
	padding: 1em 1em 0;
}
nav.developer a {
	color:#fff;
	border-bottom: 2px solid transparent;
}
nav.developer a:hover {
	color:#6cd4ff;
	border-bottom: 2px solid transparent;
}
nav.developer h2,nav.developer p {
	color:#6cd4ff;
	margin-bottom:0;
}
nav.developer ul {
	text-align:right;
}
nav.developer ul li {
	display:inline-block;
	margin-left:1em;
}

@media all and max-width 660px{
	nav.developer {
	height:160px;
	text-align:center;
	}
	
	nav.developer div.grater div {
	margin-bottom:0;
	}
	
	nav.developer ul {
	text-align:center;
	}
}
i.prev:before, i.next:before {
	font-size: .8em;
}
nav.page ul li strong {
	background: #f5f5f5;
}
nav.page ul li a:hover,
nav.page ul li a:focus { border-color: #888 }
nav.page ul li a:active {
	border-color: #888;
	color: inherit;
}

article>section.comments { margin: 0 0 1em }
ol.commentlist li {
    margin: 0 0 .5em; padding: 0 0 .5em;
    border-bottom: 1px solid #ddd;
}
ol.commentlist li p { 
	margin: 0;
	font-size: .8em;
	font-weight: 700;
}
ol.commentlist li p a { 
	border: 0;
	color: inherit;
}
ol.commentlist li .entry-content  { font-size: .8em }
ol.commentlist li .entry-content q {
	color: inherit;
	font-style: normal;
	margin: 0 0 1em;
	
}
ol.commentlist li .entry-content q:before, ol.commentlist li .entry-content q:after {
    content: '' !important;
    content: none !important;
}

ol.commentlist li:last-child {
    margin: 0; padding: 0;
    border-bottom: none;
}
ol.commentlist li h3 a img {
    float: left;
    margin: 0 16px 0 0; padding: 4px;
    border: 1px solid #eee;
}

address { display: inline }
#wrapper>footer {
	zoom: 1;
	border-top: 1px solid #ddd;
	margin: 2em auto .5em;
	padding: .5em 0;
}
#wrapper>footer p {
	float: left;
	margin: 0;
}
#wrapper>footer ul {
	float: right;
	margin: 0;
}
#wrapper>footer li {
	display:inline;
	margin-left:1em;
}

form {
	margin: 0 0 1em;
}
fieldset {
	border-bottom: 1px solid #ddd;
	padding: 0 0 .5em;
	margin: 0 0 .5em;
}
fieldset.form-actions {
	margin: 0 0 0 170px;
	padding: 0;
	border: none;
	}
fieldset.check {
	padding-left: 170px;	
	}
fieldset label {
	float: left;
	width: 170px;
	margin: 5px 0;
	font-weight: 700;
	font-size: .8em;
	}
fieldset.check label {
	display: inline;
	float: none;
	width: auto;
	font-weight: 400;
	font-size: .8em;
	}
fieldset.radio ul li label {
	display: inline;
	float: none;
	width: auto;
	font-weight: 400;
	font-size: 1em;
	}
input[type="email"],input[type="number"],input[type="password"],input[type="search"],input[type="tel"],input[type="text"],input[type="url"],input[type="color"],input[type="date"],input[type="datetime"],input[type="datetime-local"],input[type="month"],input[type="time"],input[type="week"],textarea,button {
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	appearance:none;
	font-size:1em;
}
input[type="email"],input[type="number"],input[type="password"],input[type="search"],input[type="tel"],input[type="text"],input[type="url"],input[type="color"],input[type="date"],input[type="datetime"],input[type="datetime-local"],input[type="month"],input[type="time"],input[type="week"],textarea {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.1) inset;
	box-shadow:0 1px 4px rgba(0,0,0,0.1) inset;
	background-color: white;
	moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #bbb;
	padding:5px;
	display: block;
	width: 468px;
	font-size: .8em;
	margin: 0;
}
input[type="email"]:focus,input[type="number"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="text"]:focus,input[type="url"]:focus,input[type="color"]:focus,input[type="date"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,textarea:focus {
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3),0 1px 4px rgba(0,0,0,0.1) inset;
	box-shadow: 0 0 4px rgba(0,0,0,0.3),0 1px 4px rgba(0,0,0,0.1) inset;
	outline: 0;
	border-color: #888;
}
input[type="email"].error,input[type="number"].error,input[type="password"].error,input[type="search"].error,input[type="tel"].error,input[type="text"].error,input[type="url"].error,input[type="color"].error,input[type="date"].error,input[type="datetime"].error,input[type="datetime-local"].error,input[type="month"].error,input[type="time"].error,input[type="week"].error,textarea.error {
	background-color:#fdeeee;
	border-color:#dc4747 #f59e9e #f59e9e;
}
input[type="email"].error:focus,input[type="number"].error:focus,input[type="password"].error:focus,input[type="search"].error:focus,input[type="tel"].error:focus,input[type="text"].error:focus,input[type="url"].error:focus,input[type="color"].error:focus,input[type="date"].error:focus,input[type="datetime"].error:focus,input[type="datetime-local"].error:focus,input[type="month"].error:focus,input[type="time"].error:focus,input[type="week"].error:focus,textarea.error:focus {
	border-color: #dc4747;
}
fieldset textarea {
	max-height: 6em;
}
fieldset select {
	min-width: 130px;
	max-width: 460px;
	margin: 0;
	}
fieldset.radio ul {
	margin: 5px 0 0 170px;
	}
fieldset.radio ul li {
	margin: 0 0 5px 0;
	font-size: .8em;
	}
fieldset.radio ul li:last-child {
	margin: 0;
	}
fieldset p.form-help {
	margin: 5px 0 0 170px;
	}
@media screen and (max-width: 660px) {
	fieldset label {
		display: block;
		float: none;
		width: auto;
		margin: 0 0 5px 0;
	}
	fieldset.form-actions,
	fieldset.check,
	fieldset.radio ul,
	fieldset p.form-help {
		margin-left: 0;
		padding-left: 0;
	}

	input[type="email"],input[type="number"],input[type="password"],input[type="search"],input[type="tel"],input[type="text"],input[type="url"],input[type="color"],input[type="date"],input[type="datetime"],input[type="datetime-local"],input[type="month"],input[type="time"],input[type="week"],textarea {
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}						
.button, button, form input[type="submit"] {
    margin: 0; padding: 5px 10px;
    border: 0;
    color: #444;
    font-size: 87.5%; font-weight: 700;
    text-decoration: none;
    background-color: #f5f5f5;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: rgba(0,0,0,.6);
    text-shadow: 0 1px 1px rgba(255,255,255,.7);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
    box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
    
}
.button:hover, .button:focus, .button.hover, .button.focus, button:hover, button:focus, button.hover, button.focus, form input[type="submit"]:hover, form input[type="submit"]:focus {
    background-color: #fff;
}
.button:active, .button.active, button:active, button.active, form input[type="submit"]:active {
	background-color: #bbb;
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
    -moz-box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
    box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
	padding: 6px 10px 4px;
}

table {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table.table {
width:100%;
border-top:1px solid #eee;
margin-bottom:2em;
}

table.table tr:hover {
background:#f9f9f9;
}

table.table td {
border-bottom:1px solid #eee;
padding:1em 0;
line-height: 1.5;
}

table.table td p:last-child {
margin-bottom:0;
}

table.table td:first-child {
width:50%;
}

table.table-fields td:first-child {
width:20%;
}

table.table-fields td:last-child {
width:60%;
}

table.table td:first-child span {
color:#9a9ea8;
}

mark, .highlight {
    background-color: #fffeca;
    color: inherit;
    padding: 0 .1em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}
mark a, .highlight a { color: black }
.muted, a.cancel { color: #999 }

blockquote, q {
	color: #999;
	font-style: italic;
	margin: 0 0 1em;
}
blockquote {
	border-left: 5px solid #ddd;
	padding-left: 1em;
}
blockquote a, q a { color: #444 }
blockquote a:hover, q a:hover { color:#2e80d3 }
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
q:before { content: '\201C' }
q:after { content: '\201D' }
.ir {
    display: block;
    background-color: transparent;
    text-align: left; text-indent: -999em;
    *line-height: 0;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    overflow: hidden;
}
.ir br { display: none }
abbr {
    border-bottom: 2px dashed;
    cursor: help;
}

div[role="alert"] {
	padding: 10px;
	border: 1px solid #bbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
div[role="alert"] strong {
	padding: 0 .5em 0 0;
}
div[role="alert"] strong:before{
	content: "\21";
	speak: none;
	display: block;
	float: left;
	font: 1.2em 'Pictos';
	padding: 0 .2em 0 0;
	margin: -.1em 0;
}
div[role="alert"].alert strong:before {
	color: red;
	content: "\21";
}
div[role="alert"].info strong:before {
	color: #895f12;
	content: "\69";
}
div[role="alert"].question strong:before {
	color: green;
	content: "\3f";
}
div[role="alert"] em {
	font-size: .8em;
}
i.alert:before {
	
}

.viewer li {
    -moz-transition: width 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -webkit-transition: width 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    transition: width 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
}
.viewer .caption {
    -moz-transition: opacity 1.5s ease-in-out;
    -webkit-transition: opacity 1.5s ease-in-out;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    visibility: hidden;
    border-radius:0 0 6px 6px;
}
.viewer .current .caption {
    opacity: 100;
    visibility: visible;
}

ol.thumb-grid li {
    float: left;
    width: 130px;
    margin: 0 40px 1em 0;
}
ol.thumb-grid li:nth-child(4n) { margin-right: 0 }
@media all and (max-width: 660px) {
	ol.thumb-grid li:nth-child(2n) { margin-right: 0 }
}
ol.thumb-grid li a { border: 0 }
ol.thumb-grid li a img { 
	width: 100%;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
ol.thumb-grid li a img:hover {
	opacity: 0.6;
	filter: alpha(opacity=6);
}

.orbit-wrapper {
    width: 1px;
    height: 1px;
    position: relative; 
}
.orbit {
    width: 1px;
    height: 1px;
    position: relative;
    overflow: hidden 
}  
.orbit-wrapper .slider-nav span {
    width: 120px;
    height: 100%;
    top: 0;
}
.orbit-wrapper .slider-nav span.right { }
.orbit-wrapper .slider-nav span.left { }
ul.orbit-bullets li {
    float: left;
	cursor: pointer;
    color: #999;
    text-indent: -9999px;
    background: #999;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 8px;
    height: 8px;
    overflow: hidden;
	margin: 2px 3px;
}
ul.orbit-bullets li.active {
	background: transparent;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 2px solid #999;
	margin: 0 2px;
} 
.orbit.with-bullets { margin-bottom: 40px; }
.orbit .orbit-slide {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0; 
}
.orbit a.orbit-slide {
    border: none;
    line-height: 0; 
    display: none; 
}
.orbit .orbit-slide {
    width: 100%;
    height: 100%; 
}
.orbit-wrapper .slider-nav { display: block }
.orbit-wrapper .slider-nav span {
    text-indent: -9999px;
    position: absolute;
    z-index: 30;
    cursor: pointer; 
}
.orbit-wrapper .slider-nav span.right { right: 0; }
.orbit-wrapper .slider-nav span.left { left: 0; }
.orbit img.fluid-placeholder {
    visibility: hidden;
    position: static;
    display: block;
    width: 100%; }
.orbit, .orbit-wrapper { width: 100% !important; }
ul.orbit-bullets {
    position: absolute;
    z-index: 30;
    list-style: none;
    bottom: -20px;
    left: 50%;
	margin-left: -50px;
    padding: 0; 
}
pre, code {
	background-color: transparent;
	-webkit-font-smoothing: subpixel-antialiased;
	font: .9em/1.5 Menlo,Monaco,Courier,monospace;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
}
pre {	
	margin-bottom: 0.5em;
	background-color: #f5f5f5; color: #999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ddd;
	padding: .3em .5em;
}
.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}
pre {
    display: block;
    margin: 0 0 1em; padding: 1em;
}
dl dt { font-weight: 700 }
dl dd {
	color: #999;
	margin: .5em 0 1em;
}


.flex-video {
	position: relative;
	padding-top: 25px;
	padding-bottom: 67.5%;
	height: 0;
	margin-bottom: 16px;
	overflow: hidden;
}
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
.flex-video iframe,
.flex-video object,
.flex-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
img::selection, img::-moz-selection { background: transparent }
img {
    height: auto !important; max-width: 100% !important;
    -ms-interpolation-mode: bicubic;
    background: transparent;
    border: 0;
    vertical-align: middle;
}
img, embed, object, video {
    height: inherit; max-width: 100%;
    _width: 100%;
}
a img { border: 0 }

a.close { color: #999; float: right; }
a.close:before {
	speak: none;
	content: "\2613";
	cursor: pointer;
	display: block;
	font: normal .8em 'Pictos';
	margin: 4px;
	color: inherit;
}
a.close:hover { border: 0 }

button, input {
    *overflow: visible;
    line-height: normal;
    outline: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
input[type="search"] {
    -moz-box-sizing: content-box;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none }
textarea {
    overflow: auto;
    vertical-align: top;
}

.columns { margin: 0 auto }
.columns>div {
	width: 300px;
}
.columns>div:first-child,.columns.reverse>div:last-child { float:left }
.columns>div:last-child,.columns.reverse>div:first-child { float:right }
@media all and (max-width: 660px) {
	.columns>div {
		float: none !important;
		margin: 0 auto;
	}
}
.clearfix, .group, .columns, nav, header, footer {    *zoom: 1 }
.clearfix:before, .clearfix:after, .group:before, .group:after, .columns:before, .columns:after, nav:before, nav:after, header:before, header:after, footer:before, footer:after {
    display: table;
    content: "";
}
.clearfix:after, .group:after, .columns:after, nav:after, header:after, footer:after { clear: both }

.pull-right, .float-right { float: right }
.pull-left, .float-left { float: left }
.hide { display: none }
.show { display: block }
.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.text-left   { text-align: left }
.text-right  { text-align: right }
.text-center { text-align: center }
center, .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
[hidden] { display: none }
.visuallyhidden {
    position: absolute;
    height: 1px; width: 1px;
    margin: -1px; padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    position: static;
    height: auto; width: auto;
    margin: 0;
    clip: auto;
    overflow: visible;
}
.invisible { visibility: hidden }

.show-on-phones { display: none !important; }	
.show-on-tablets { display: none !important; }
.show-on-desktops { display: block !important; }

.hide-on-phones { display: block !important; }	
.hide-on-tablets { display: block !important; }
.hide-on-desktops { display: none !important; }

/* Modernizr-enabled tablet targeting */
@media only screen and (max-width: 1280px) and (min-width: 660px) {
	.touch .hide-on-phones { display: block !important; }
	.touch .hide-on-tablets { display: none !important; }
	.touch .hide-on-desktops { display: block !important; }

	.touch .show-on-phones { display: none !important; }
	.touch .show-on-tablets { display: block !important; }
	.touch .show-on-desktops { display: none !important; }
}

@media only screen and (max-width: 660px) {
	.hide-on-phones { display: none !important; }
	.hide-on-tablets { display: block !important; }
	.hide-on-desktops { display: block !important; }

	.show-on-phones { display: block !important; }
	.show-on-tablets { display: none !important; }
	.show-on-desktops { display: none !important; }
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
audio:not([controls]) { 
	display: none;
	height: 0;
}

#googlemap img, object, embed { max-width: none; }
#map_canvas embed { max-width: none; }
#map_canvas img { max-width: none; }
#map_canvas object { max-width: none; }

.ie7 img { -ms-interpolation-mode: bicubic }
.ie6 html { filter: expression(document.execCommand("BackgroundImageCache", false, true)) }
svg:not(:root) { overflow: hidden }

cite { font-style: normal }

::-moz-selection {
  color: #fff;
  background-color: #999;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
::selection {
  color: #fff;
  background-color: #999;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
::selection:window-inactive {
	color: #fff;
	background-color: #999;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.chromeframe {
    margin: 0.2em 0; padding: 0.2em 0;
    color: black;
    background: #ccc;
}

@media print { 
	* {
	    color: black !important;
	    -ms-filter: none !important;
	    background: transparent !important;
	    box-shadow: none !important;
	    filter: none !important;
	    text-shadow: none !important;
	}
	html { border: 0 }
	a[href]:after { content: " (" attr(href) ")" }
	a, a:visited { text-decoration: underline }
	abbr[title]:after { content: " (" attr(title) ")" }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {    content: "" }
	pre, blockquote {
	    border: 1px solid #999;
	    page-break-inside: avoid;
	}
	thead { display: table-header-group }
	tr, img { page-break-inside: avoid }
	img { max-width: 100% !important }
	p, h2, h3 { orphans: 3; widows: 3 }
	.hide-on-print { display: none !important; }
	.print-only { display: block !important; }
}